{% extends "layouts/base.html" %}
{% load good_extras %}
{% block title %} Management {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="page-header">
                <div class="page-block">
                    <!-- Title -->
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">工厂管理</h5>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <br>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ basic-table ] start -->
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>总计 {{ count_total }} 工厂</h5>
                                </div>

                                {% show_messages %}

                                <div class="card-block ">
                                    <div class='row'>
                                        <!-- Sort by -->
                                        <div class="col-8">
                                            <b>排序 : - </b>
                                            <a href="{% url 'factory_list' %}?search={{ search }}&orderby=id">编号</a> |
                                            <a href="{% url 'factory_list' %}?search={{ search }}&orderby=name">工厂名</a>
                                            <a></a>
                                            <a></a>
                                            <a></a>
                                            <a></a>
                                            <a></a>
                                        </div>
                                        <!-- Search box -->
                                        <div class="col-4">
                                            <form class="form-inline mb-2">
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="search" ,
                                                           id='search' ,
                                                           placeholder="输入内容..." ,
                                                           value={{ search }}
                                                    >
                                                </div>
                                                <button type="submit" class="btn btn-secondary mb-2 btn-sm">搜索</button>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="table-responsive table-hover">
                                        <!-- Table -->
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>工厂名</th>
                                                <th>联系方式</th>
                                                <th>地址</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for fac in factory %}
                                                <tr>
                                                    <th scope="row">{{ fac.id }}</th>
                                                    <td>{{ fac.name }}</td>
                                                    <td>{{ fac.phone }}</td>
                                                    <td>{{ fac.address }}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><a href="{% url 'factory_update' fac.pk %}" class="badge badge-info"><i
                                                            class="feather icon-edit"></i>&nbsp;编辑</a>
                                                        <a href="{% url 'factory_delete' fac.pk %}" class="badge badge-danger"><i
                                                                class="feather icon-trash-2"></i>&nbsp;删除</a></td>

                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <!-- Add button -->
                                        <div class='col-6'>
                                            <a href="{% url 'factory_create' %}" class='btn btn-primary'>新增工厂</a>
                                        </div>
                                        <!-- Paginations -->
                                        <div class='col-6'>
                                            {% show_pagination %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
